<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gopi.architecture.sample.samplearchitectureapp">

    <application
        android:name=".MainApplication"
        android:icon="@drawable/ic_action_bus"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_action_bus"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MORELATEST2019.FirstCoroutineActivity">
        </activity>
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity android:name=".nestedViewpager.NestedViewPagerActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".navigationdrawer.NavigationDrawerActivity"
            android:theme="@style/AppThemeNoToolBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".fabPractise.FabActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity android:name=".viewRelated.ViewLogicActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity android:name=".advancedkotlin.KotlinViewReferenceActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity android:name=".AdvancedOptionsMenuActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".common.ForwarderActivity"
            android:theme="@style/HomeActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".rxjavaLatest.RxjavaPracActivity">
        </activity>
        <activity android:name=".livedatalatest.LiveDataActivity">
        </activity>
        <activity android:name=".livedatalatest.room.RoomLiveDataTestActivity">
        </activity>
        <activity android:name=".livedatalatest.SecondLiveDataActivity">
        </activity>
        <activity android:name=".workmanager.WorkManagerActivity">
        </activity>
        <activity android:name=".shareactivity.ShareActivity">
            <intent-filter android:label="Gopi Share with my app">
                <action android:name="android.intent.action.SEND"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="*/*"/>
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".AliasShareActivity"
            android:enabled="false"
            android:targetActivity=".shareactivity.ShareActivity"/>

        <activity android:name=".ActivityAliasFunctionalityActivity">
        </activity>
        <activity android:name=".services.ForegroundServiceActivity">
        </activity>

        <service
            android:name=".services.FirstForegroundService"
            android:enabled="true"/>

        <activity android:name=".parallaxAnimation.ParallaxAnimationActivity">
        </activity>
        <activity android:name=".UIStuff.snackBar.SnackBarActivity">
        </activity>
        <activity
            android:name=".animations.FadeTransitionsActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
        <activity
            android:name=".keyboardIssues.KeyboardIssuesActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
        </activity>
    </application>

</manifest>